*{
    margin: 0px;
    padding: 0px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
background-color:#181818;
}

.container .head{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 10px 50px;    
}


.container .head img{
    width: 13%;
}

.home-image{
    background-image: url(assets/bacg);
    width:100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 20px; */
    position: relative;
    padding: 5px 5px 5px 10px;
    /* margin-bottom: 60px; */
}

.home-image-text{
    color: #fff; 
    position: relative;
    width: 30%;
    top: 12em;
    left: 3em;
    z-index: 1; 
}

.money{
    width: 100%;
    height: auto;
}

.play-button{
    background-color: red;
    color: black;
    width: 80px;
    border-radius: 4px;
    font-size: 25px;
    padding: 5px 20px;
 
}

.play-button img{
    width: 25px;
    position: absolute;
    margin-top: 2px;
    padding-left: 5px;
}

.original{
    color: white;
}

.original h3{
    margin-top: 5px;
}

.no-title{
    font-size: 25px;
    padding-left: 10px;
    font-weight: 5px;
    margin-bottom: 15px;
}

.no img{
    width: 160px;
    height: 280px;
    margin: 3px;
    border-radius: 10px;
    margin-left: 8px;
}

.no img:hover{
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
    transition-delay: 0.2s;
}

.no{
    display: flex;
    height: 49vh;
}



html{
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 5px;
}
